/*
	Project: Crown Web Hosting - Best Hosting Providers in Pakistan
	Developer: Danial Pervaiz
	Project Created: 27/09/16
	Client: Crown Technologies
	Description: Crown web hosting, best hosting providers in pakistan located in lahore city mall road.
*/

/* Mixins */

.transitions{
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
}
.itemCenter{
	margin:0 auto;
	display:table;
	float:none;
}

/* Default Variables */

@defaultThemeColor:#0096ff;
@defaultThemeColorDark:#1e88e5;
@lato:'Lato', sans-serif;

/* Default Styles */

*
{
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6,p{
	padding:0px;
	margin:0px;
}

/* Navigation Section */

.smallNavigation{
	height:46px;
	width:100%;
	background-color:#202736;
}