/*
	Project: Crown Web Hosting - Best Hosting Providers in Pakistan
	Developer: Danial Pervaiz
	Project Created: 27/09/16
	Client: Crown Technologies
	Description: Crown web hosting, best hosting providers in pakistan located in lahore city mall road.
*/

/* Mixins */

.transitions{
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
}
.itemCenter{
	margin:0 auto;
	display:table;
	float:none;
}

/* Default Variables */

@defaultThemeColor:#0096ff;
@defaultThemeColorDark:#1e88e5;
@lato:'Lato', sans-serif;

/* Default Styles */

*
{
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6,p{
	padding:0px;
	margin:0px;
}

/* Navigation Section */

.smallNavigation{
	height:46px;
	width:100%;
	background-color:#202736;
	span{
		color: #e0e0e0;
	    font-size: 12px;
	    font-family: 'Lato';
	    padding-left: 105px;
	    position: relative;
	    top: 12px;
		i{
			color:@defaultThemeColor;
			padding-right: 5px;
		}
	}
	.cart{
		float:right;
		list-style:none;
	    right: 240px;
    	position: relative;
		li{
			float:left;
			a{
				color: #e0e0e0;
			    font-size: 12px;
			    font-family: 'Lato';
			    padding-left: 105px;
			    position: relative;
			    top: 12px;
			    &:hover{
			    	text-decoration:none;
			    	color:@defaultThemeColor;
			    }
				i{	
					padding-right: 5px;
					color:@defaultThemeColor;
				}
			}
		}
	}
	.login{
		float:right;
		list-style:none;

		li{
			float:left;
			a{
			    color: #e0e0e0;
			    font-size: 12px;
			    font-family: Lato;
			    position: relative;
			    border-right: 1px solid rgb(38, 45, 61);
			    top: 12px;
			    left: 9px;
			    padding-right: 10px;
			    &:hover{
			    	text-decoration:none;
			    	color:@defaultThemeColor;
			    }
				i{	
					padding-right: 5px;
					color:@defaultThemeColor;
				}
			}
		}
	}
	.language{
	 	float: right;
	    position: absolute;
	    right: 109px;
	    background-color: transparent;
	    color: #e0e0e0;
	    font-size: 10px;
	    font-family: Lato;
	    border: transparent;
	    padding-top:4px;
	    cursor:pointer;
	    a{
	    	color:#e0e0e0;
	    	&:hover{
	    		text-decoration:none;
	    	}
	    }
	    i{
    	    position: relative;
		    left: 4px;
		    bottom: 1px;
		    color:#e0e0e0;
	    }
	}
	.languageDropdown{
		position: absolute;
	    right: 0;
	    height: 126px;
	    background-color: #202736;
	    color: #fff;
	    list-style: none;
	    width: 174px;
	    text-align: center;
	    margin-right: 106px;
	    margin-top: 27px;
	    li:last-child{
	    	border-bottom:0px;
	    }
	    li{
	    	padding:5px;
	    	border-bottom: 1px solid rgb(38, 45, 61);;
	    	a{
    		    color: rgb(121, 132, 141);
			    font-family: 'Lato';
			    font-size: 12px;
			    .transitions;
			    &:hover{
			    	color:#fff;
			    	text-decoration:none;
			    }
	    	}
	    }
	}
}

/* login section */

.loginForm{
    height: 300px;
    width: 257px;
    background-color: #202736;
    position: absolute;
    right: 105px;
    z-index: 999;
    margin-top: 0px;
    input[type="password"]{
	    position: relative;
    	bottom: 11px;
    }
    .form-control{
	    font-size: 12px;
	    line-height: 30px;
	    width: 100%;
	    border: none;
	    background: #323b4f;
	    color: #79848d;
	    height: 54px;
	    border-radius: 3px;
	    margin-top: 23px;
	    width: 228px;
	    margin: 23px auto;
        padding-left: 42px;
    }
    i{
	    position: absolute;
	    left: 18px;
	    padding-top: 20px;
	    color: #79848d;
	    padding-left: 12px;
	    padding-right: 12px;
    }
    i.fa-lock{
	    padding-top: 9px;
	    position: absolute;
	    z-index: 1;
    }
}